body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

#colorSelector {
  display: flex;
  flex-direction: column;
  gap: 5px; /* Adjust spacing between color boxes */
}

.colorBox {
  width: 30px; /* Adjust width as needed */
  height: 30px; /* Adjust height as needed */
  cursor: pointer;
}
